{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}

<div class="container">
    <a class="btn btn-outline-success" href="{% url 'update' object.pk %}">Редактировать запись</a>
    <a class="btn btn-outline-danger" href="{% url 'delete' object.pk %}">Удалить запись</a>
    <h1 class="display-4">{{ object.title }} ({{ object.slug }})</h1>
    <h6 class="display-9">Категория: {{ object.category }}</h6>
    <p>Запить создана {{ object.created_at }}</p>
    <p>Количество просмотров: {{ object.views_count }}</p>
</div>
<div class="container">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <p>
                    {{ object.content }}
                </p>
            </ul>
        </div>
    </div>
</div>
{% endblock %}