{% extends 'catalog/base.html' %}
{% block content %}
<main role="main">
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-md mb-2">
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-success" href="{% url 'create_category' %}">Добавить категорию</a>
                {% endif %}
                {% for object in object_list %}
                    <div class="card-body">
                        <a class="btn btn-outline-primary" href="{% url 'sort_category' object.pk %}">{{ object.category_name }}</a>
                        {% if user.is_authenticated %}
                            <a class="btn btn-outline-danger" href="{% url 'delete_category' object.pk %}">Удалить категорию</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}