{% extends 'catalog/base.html' %}

{% block content %}
<main role="main">
    <div class="col-12 mb-2">
        {% if user.is_authenticated %}
            <a class="btn btn-primary form-control" href="{% url 'create' %}">Написать статью</a>
        {% else %}
            <a class="btn btn-primary form-control" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
           aria-expanded="false" aria-controls="multiCollapseExample1">Написать статью</a>
            <div class="col-6">
                <div class="collapse multi-collapse mb-5" id="multiCollapseExample1">
                    <div class="card card-body mb-5">
                        Войдите в свой аккаунт или зарегистрируйтесь, чтобы написать статью!
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container mb-2">
        <div class="row">
            <div class="col-12 col-md">
                <div class="card-body">
                    <a class="btn btn-outline-primary" href="{% url 'category' %}">Категории</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            {% for object in queryset %}
            <div class="card mb-3 mr-5" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">{{ object.title }}</h4>
                    <p class="card-text">{{ object.content|truncatechars:100 }}</p>
                    <p class="card-text">Категория: {{ object.category }}</p>
                    <a href="{% url 'view' object.pk %}" class="btn btn-sm btn-outline-primary" role="button">Посмотреть</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'update' object.pk %}" class="btn btn-sm btn-outline-primary">Изменить</a>
                    <a href="{% url 'delete' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}